<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Employee application</title>
</head>
<body>
	<h1>List of Employees</h1>
	
	
	<table width="100%" border="1">
		<tr th:each="employee: ${employees}">
			<td th:text="${employee.identifier}">ID</td>
			<td><a th:href="@{'/employees/' + ${employee.identifier} }" th:text="${employee.name}">name</a></td>
			<td th:text="${employee.position}">position</td>
			<td th:text="${employee.pay}">pay</td>
			<td th:text="${employee.firstWorkingDay}">firstWorkingDay</td>
			<td><a th:href="@{/employees/delete/{id}(id=${employee.identifier})}">Delete</a></td>
		</tr>
	</table>
	<br/><br/>
	<form th:action="@{/employees}" method="post" th:object="${newEmployee}">
		ID: <input type="text" th:field="*{identifier}"/> <br/>
		name: <input type="text" th:field="*{name}"/> <br/>
		workPosition: <input type="text" th:field="*{position}"/> <br/>
		pay: <input type="text" th:field="*{pay}"/> <br/>
		firstWorkingDay: <input type="datetime-local" th:field="*{firstWorkingDay}"/> <br/>
		<input type="submit" value="Add" />
	</form>
	
	
</body>
</html>